<div id="page-story">
  {% section 'page-story-hero' %}
  {% section 'page-story-highlights' %}
  {% section 'page-story-founders' %}
  {% section 'page-story-ethos' %}
  {% section 'page-story-icons' %}
  {% section 'page-story-product-highlight' %}
</div>