<div id="page-{{ page.id }}" class="bg-cream-500">
  <div class="copy copy--pd copy--wide py-20">
    <div class="border-b-2 py-8 mb-10">
      <h1 class="h2 uppercase font-header">{{ page.title }}</h1>
    </div>
    <p class="large">{{ page.content }}</p>
  </div>
</div>