<div id="page-sustainability">
  {% section 'page-sustainability-hero' %}
  {% section 'page-sustainability-highlights' %}
  {% section 'page-sustainability-text-section' %}
  {% section 'page-sustainability-product-highlight' %}
</div>