<div class="page-pad py-20 bg-cream-500">
  <div class="copy copy--narrow">
    {% form 'reset_customer_password' %}
      <div class="flex flex-col space-y-6">
        {{ form.errors | default_errors }}

        <h2 class="font-header h4 uppercase mb-10">Reset your password</h2>
        <input class="form-input" type="password" value="" name="customer[password]" size="16" placeholder="Password" />

        <input class="form-input" type="password" value="" name="customer[password_confirmation]" size="16" placeholder="Password Confirmation" />
        
        <div>
          <input class="btn btn--sm" type="submit" value="Reset Password"/>
        </div>
      </div>
    {% endform %}
  </div>
</div>
